.home__header {
    background: url(../image/background-page.svg);
    background-repeat: repeat;
    background-position:center top;
    background-size: 857px;
}

.header {
    padding-top: 34px;
    background: url(../image/home-header-background.png) no-repeat center top / auto;
    /*background: url(../image/home-header-background.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center top;*/
    /*background-size: cover;*/
    height: 940px;
}

.menu-line {
    grid-column-gap: 378px;
}

.menu-line__main-nav {
    grid-column-gap: 42px;
}

.main-nav {
    grid-column-gap: 25px;
}

.main-nav__item a {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    transition: text-shadow 300ms;
}

.main-nav__item a:hover {
    text-shadow: 0 0 2px #ffffff, 0 0 2px silver;
}

.main-nav__item a:active {
    transition: unset;
    text-shadow: unset;
}

.menu-line__button-block {
    grid-column-gap: 16px;
}

.button-for-call {
    width: 50px;
    height: 50px;
    background: #1B1B1B;
    box-shadow: 0 0 15px rgba(189, 45, 67, 0.5);
}

.button-for-client {
    width: 50px;
    height: 50px;
}

.button-reserve {
    width: 179px;
    height: 50px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    text-transform: uppercase;
}

.header__button-block {
    grid-column-gap: 48px;
}

.button-reserve-table, .button-look-menu {
    width: 386px;
    height: 74px;
    font-size: 24px;
    line-height: 27px;
    font-weight: 500;
    text-transform: uppercase;
}
